@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}



/* Base Card header styling */
.custom-card .ant-card-head {
  background-color: #6f7d82;  /* Header background */
  padding: 12px 16px;          /* Default padding */
  border-radius: 8px 8px 0 0;  /* Rounded top corners */
}

.compact-table .ant-table {
  width: 100% !important;
  border-collapse: separate !important;
}

/* Add this globally or inline via Tailwind */
.ant-input,
.ant-input-affix-wrapper {
  height: 32px !important;
  min-height: 32px !important;
}


/* With */
.ant-input:not(textarea),
.ant-input-affix-wrapper {
  height: 32px !important;
  min-height: 32px !important;
  border-radius: 0 !important;
}
/* Select */
.ant-select .ant-select-selector {
  height: 32px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.ant-select-single .ant-select-selection-item,
.ant-select-single .ant-select-selection-placeholder {
  line-height: 32px !important;
  font-size: 12px !important;
}

/* DatePicker */
.ant-picker {
  height: 32px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.ant-picker-input > input {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 12px !important;
}

/* RangePicker */
.ant-picker-range {
  height: 32px !important;
  font-size: 12px !important;
  border-radius: 0 !important;
  display: flex !important;
  align-items: center !important;
}

.ant-picker-range .ant-picker-input > input {
  height: 32px !important;
  line-height: 32px !important;
  font-size: 12px !important;
}

.ant-picker-range .ant-picker-separator,
.ant-picker-suffix,
.ant-picker-clear {
  display: flex !important;
  align-items: center !important;
}
.compact-form .ant-form-item {
  margin-bottom: 0 !important;
}

.ant-form-horizontal .ant-form-item {
  margin-bottom: 0 !important;
}

.ant-layout{
  background-color: #9f9fa9 !important;
}