@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Compact Ant Design Table */
.compact-table .ant-table-thead > tr > th,
.compact-table .ant-table-tbody > tr > td {
  padding: 1 !important;            /* no padding */
  font-size: 14px !important;       /* small text */
  line-height: 1.2 !important;      /* tighter rows */
  text-align: left !important;      /* 👈 left align text */
}

.compact-table .ant-table-cell {
  font-size: 18px !important;
  padding: 2px !important;
}

/* Optional: smaller header */
.compact-table .ant-table-thead > tr > th {
  height: 24px !important;
  background-color: #8a8b8b;
  font-weight: 600;
  color:aliceblue;
  font-size: 14px !important;
}

/* Table overall structure */
.compact-table .ant-table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  width: 100% !important;  /* fits container (like w-[700px]) */
}

/* Optional: tighter pagination */
.compact-table .ant-table-pagination {
  margin: 4px 1 !important;
}

.compact-table .ant-pagination-item {
  font-size: 14px !important;
  min-width: 22px !important;
  height: 22px !important;
  line-height: 20px !important;
}

/* Base Card header styling */
.custom-card .ant-card-head {
  background-color: #6f7d82;  /* Header background */
  padding: 12px 16px;          /* Default padding */
  border-radius: 8px 8px 0 0;  /* Rounded top corners */
}

/* tab  */
.custom-tabs .ant-tabs-tab {
  background-color: #e6e9eb;
  min-width: 100px;       /* optional: keeps a minimum width */
  color: white !important;
  justify-content: center;
  margin-right: 8px;      /* reduce the gap between tabs */
  padding: 6px 12px;      /* top/bottom and left/right padding */
  border-radius: 4px;     /* optional: rounded corners */
  display: flex;
  align-items: center;    /* vertically center icon + label */
  gap: 4px;               /* space between icon and label */
}

/* Hover effect */
.custom-tabs .ant-tabs-tab:hover {
  background-color: #e9e2e2;
  color: rgb(244, 243, 243) !important;
  cursor: pointer;
}

/* Icon color on hover */
.custom-tabs .ant-tabs-tab:hover .anticon {
  color: white;
}

.ant-tabs,
.ant-tabs-content,
.ant-tabs-content-holder,
.ant-tabs-tabpane {
  height: 100% !important;
  width: 80% !important;
  background-color: transparent !important;
}

.small-tabs .ant-tabs-tab {
  padding: 4px 12px !important;   /* Reduces height */
  height: 32px !important;         /* Set desired height */
}

.small-tabs .ant-tabs-tab-btn {
  font-size: 13px;     
  justify-content: center !important;
  align-items: center !important;            /* Optional: smaller text */
}